#div1{
    width:712px;
    height:108px;
    position:relative;
    margin:100px auto;
    overflow:hidden;
}
#div1 ul{
    float:left;
    position:absolute;
    left:0;
}
#div1 li{
    list-style:none;
    float:left;
    width:178px;
    height:108px;
}
.contont-bottom a{
    font-size:60px;
    color:#333;
    text-decoration:none;
    font-weight:bold;
}
#prev{
    position:absolute;
    top:130px;
    left:220px;
}
#next{
    position:absolute;
    top:130px;
    right:220px;
}